# Caminho absoluto ou relativo para o diretório contendo as pastas "acidentes", "fiscalizacao", etc.
# Se deixado vazio, o padrão será a pasta "../../dados" (um nível acima deste repositório)
DADOS_DIR=

# Configurações de Conexão com o Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nome_do_seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
